/*root sets colors and fonts to a variable that can be easily used through out your stylesheet using var(--name);*/
:root {
    --text-color: ...;
    --bg-color: ...;
    --primart-color: ...;
    --secondary-color: ...;
    --accent-color: ...;
    --font-family: ...;
}

